{% load i18n sizeformat %}
{% load url from future %}

<h3>{% trans "Security alarm" %}</h3>

<div class="status row-fluid detail">
  <h4>{% trans "Overview" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ security_alarm.id }}</dd>
    <dt>{% trans "status" %}</dt>
    <dd>{{ security_alarm.status }}</dd>
    <dt>{% trans "severity" %}</dt>
    <dd>{{ security_alarm.severity }}</dd>
    <dt>{% trans "Summary" %}</dt>
    <dd>{{ security_alarm.summary }}</dd>
    <dt>{% trans "Description" %}</dt>
    <dd>{{ security_alarm.description }}</dd>
    <dt>{% trans "Component id" %}</dt>
    <dd>{{ security_alarm.component_id }}</dd>
    <dt>{% trans "Received at" %}</dt>
    <dd>{{ security_alarm.timestamp }}</dd>
    <dt>{% trans "Plugin" %}</dt>
    <dd><a href="{% url 'horizon:security:plugins:details' security_alarm.plugin_id %}">
        {{ security_alarm.plugin_id }}</a></dd>
  </dl>
</div>